{% extends "vllmpage/layout.html" %}
{% load static %}

{% block content %}
<script>
  const objName = "{{ obj_name|escapejs }}";
  const xcoord = {{ xcoord|default:"0" }};
  const ycoord = {{ ycoord|default:"0" }};
</script>
<div class="game-container">
    <div class="game-topbar">
      Find: <strong>{{ obj_name }}</strong>
    </div>
    <div class="game-image-area">
      <img id="scene" src="{% static image_path %}" alt="Scene">
      <canvas id="hint-canvas"></canvas>
    </div>
  </div>
{% endblock %}
