{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hocus Focus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?
        family=Comfortaa:wght@400;700&
        family=Fredoka+One&
        display=swap"
      rel="stylesheet"
    >
  <link rel="stylesheet" href="{% static 'vllmpage/styles.css' %}">
</head>
<body>

  <div class="vertical-title left-title">HOCUS</div>
  <div class="vertical-title right-title">FOCUS</div>

  <div class="main-wrapper">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'vllmpage/script.js' %}"></script>
</body>
</html>